internal/entity/
!internal/entity/user.go
!internal/entity/item.go

internal/handlers/
!internal/handlers/auth.go
!internal/handlers/buy.go

internal/repository/
!internal/repository/user.go
!internal/repository/item.go

internal/usecase/
!internal/usecase/auth.go
!internal/usecase/buy.go

token.sh